<form [formGroup]="form" class="example-container" (submit)="operate()" #frmResultado="ngForm" >
    <div *ngIf="form.controls['id'].value">
        <mat-form-field>
            <input matInput placeholder="ID" formControlName="id" readonly>
        </mat-form-field>
    </div>
  <mat-form-field>
    <input matInput placeholder="Nombre Partida" formControlName="nombrePartida">
    @if (f['nombrePartida'].errors?.['required'] && f['nombrePartida'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['nombrePartida'].errors?.['minlength'] && f['nombrePartida'].touched) {
      <small class="invalid">Mínimo 5 Caracteres</small>
    }
    @if (f['nombrePartida'].errors?.['maxlength'] && f['nombrePartida'].touched) {
      <small class="invalid">Máximo 15 Caracteres</small>
    }
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre Jugador" formControlName="nombreJugador1">
    @if (f['nombreJugador1'].errors?.['required'] && f['nombreJugador1'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['nombreJugador1'].errors?.['minlength'] && f['nombreJugador1'].touched) {
      <small class="invalid">Mínimo 5 Caracteres</small>
    }
    @if (f['nombreJugador1'].errors?.['maxlength'] && f['nombreJugador1'].touched) {
      <small class="invalid">Máximo 15 Caracteres</small>
    }
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre Jugador" formControlName="nombreJugador2">
    @if (f['nombreJugador2'].errors?.['required'] && f['nombreJugador2'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['nombreJugador2'].errors?.['minlength'] && f['nombreJugador2'].touched) {
      <small class="invalid">Mínimo 5 Caracteres</small>
    }
    @if (f['nombreJugador2'].errors?.['maxlength'] && f['nombreJugador2'].touched) {
      <small class="invalid">Máximo 15 Caracteres</small>
    }
  </mat-form-field>
  <button mat-button type="submit" [disabled]="frmResultado.invalid">
    <mat-icon>done</mat-icon>
    <span>Iniciar</span>
  </button>
  <button mat-button type="button"  color="accent" (click)="anular()" >
    <mat-icon>cancel</mat-icon>
    <span>Anular</span>
  </button>
</form>
